<figure class="product_card">
    <div class="product_img_div">
      <img src="{IMAGE}" class="product_image">
    </div>
    <div class="product_name">{NAME}</div>
    <div class="product_price"><b>Price:</b> {PRICE} $</div>
    <div class="product_detail">
      <div class="product_ROM"><b>ROM:</b> {ROM} GB</div>
      <div class="product_color"><b>Color:</b> {COLOR}</div>
    </div>
    <div class="product_camera"><b>Camera:</b> {CAMERA}</div>
    <a class="product_link" href="products?id={ID}">
      <span>Product Detail</span>
    </a>
  </figure>